name: "Test on Nixpkgs"
on:
  pull_request:
  push:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Build the package
      run: nix-build
    
    - name: Run tests
      run: nix-shell --run "pytest -v -m 'nixpkgs'"
