name: "Test on Ubuntu"
on: [workflow_dispatch]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.13' ]
    steps:
    - uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Set NIXPKGS_PATH
      run: echo "NIXPKGS_PATH=$(nix-instantiate --find-file nixpkgs)" >> "$GITHUB_ENV"

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov
        pip install -e .

    - name: Run tests
      run: nix-shell -p nixfmt --run 'pytest -v -m "not nixpkgs"'

    - name: Check Python imports
      run: python -c 'import nix_manipulator; print("Import successful")'

    - name: Run tests with coverage (optional)
      run: nix-shell -p nixfmt --run 'pytest -m "not nixpkgs" --cov=nix_manipulator --cov-report=term-missing tests/'
      continue-on-error: true
